{% extends 'Base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block content %}
  <div class="main-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="page-title">
                                    <p class="page-desc">Documentation and examples for badges, our small count and labeling component.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Registration Form Payment</h5>
                                        <form method="post" onsubmit="return checkForm()" action="{% url 'registration_form_payment' %}">
                                        {% csrf_token %}
                                        <div id="msg"></div>
                                        {% include 'partial/_message.html' %}

                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="Company">Company name</label>
                                                   <select class="form-control custom-select" name="Company" id = 'Company' >
                                                       <option value="null">Pick a company</option>
                                                       {% for foo in SumbittedForm %}
                                                        <option value="{{ foo.id }}">{{ foo.NameofOrganisation }}</option>
                                                       {% endfor %}

                                                   </select>

                                                    <div class="valid-feedback">
                                                        Looks good!9
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label for="Status">Company name</label>
                                                   <select class="form-control custom-select" name="Status" id = 'Status' >
                                                       <option value="null">Status of Payment</option>
                                                       {% for foo,soo in paymentStatus %}
                                                        <option value="{{ foo}}">{{ soo}}</option>
                                                       {% endfor %}

                                                   </select>

                                                    <div class="valid-feedback">
                                                        Looks good!9
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label for="Amount">Amount Paid</label>
                                                    <input type="text" class="form-control" id="Amount"  NAME="Amount" placeholder="Amount Paid" required>

                                                </div> <div class="col-md-6 mb-3">
                                                    <label for="DatePaid">Date Paid</label>
                                                    <input type="date" class="form-control" id="DatePaid" NAME="DatePaid" placeholder="Amount Paid" required>

                                                </div>

                                            </div>
                                            <div class="form-group">

                                            </div>
                                            <button class="btn btn-primary" type="submit">Submit form</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

   </div>

{% endblock %}

{% block script %}
<script>
function checkForm() {
                var check = true
      var decimal = /^[0-9]+([,.][0-9]+)?$/g;
     var x = document.getElementById("Amount").value
    var y = document.getElementById("Company").value
    var z = document.getElementById("Status").value

if (!(x.match(decimal))|| y =='null'||z=='null') {
     document.getElementById("msg").innerHTML = "<div class=\"alert alert-danger mb-0\" role=\"alert\">\n" +
                       "                                                    <strong>Oh snap!</strong> Change a few things up and try submitting again.\n" +
                       "                                                </div> <br>"
                   check = false
  console.log(x)
}
        if (check == false){
return false;
    }
}

</script>
{% endblock %}